body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.site-header {
    background-color: #1662ae;
    margin: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header .logo {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

.site-header .navigation a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.site-header .navigation a:hover {
    color: #616161;
}

.site-body {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.post-list {
    list-style-type: none;
    padding: 0;
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.post-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgb(254, 255, 211);
    padding: 12px;
    border-radius: 6px;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.options {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.site-footer {
    background-color: #1662ae;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.preview {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgb(254, 255, 211);
    padding: 12px;
    border-radius: 6px;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
}